.user__bar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 10px;
}

.list__regist {
    margin-right: 15px;
}

.list__regist_item {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.list__regist_item:hover {
    background-color: #a2e1e8;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.list__regist_item.active {
    background-color: #a2e1e8;
    padding: 10px 20px;
    border-radius: 20px;
    transition: background-color 0.3s ease;
}

.list__regist_item.active:hover {
    background-color: #a2e1e8;
}